body{
    
    margin: 0;
    padding: 0 5%;
}

nav{
    position: sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

a{
    text-decoration: none;
    color: bisque;
}
h1{
    text-align: center ;
    margin:3% ;
}
img{
    width: 700px;
    height: 500px;
}

.logo{
    background-color: bisque;
    text-align: center;
    border-radius: 50%;
    padding: 1%;
    box-shadow: 0 0 50px bisque;
}

.nav__menu__item{
    background-color: #bc6c25;
    padding: 20px;
    margin-left: 20px;
}

.banner{
    height:80vh ;
    width: 100%;
    background-image: url(images/meagan-stone-r951FqxHTao-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.banner__caption{
background-color: #f5cac3;
text-align: center;
color: #6a040f;
}

.hero{
    color: #03071e;
display: flex;
align-items: center;
justify-content: space-between;
}

.hero__text{
    margin-left: 150px;
}

.hero_text_even{
margin-right: 150px;
}